<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Split
    </mat-panel-title>
    <mat-panel-description>
      Click to Process
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-form-field>
    <input matInput placeholder="First Address">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Second Address">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Value to Send">
  </mat-form-field>

</mat-expansion-panel>
