
  .amount-right-align {
    text-align: right;
  }
  
  input.amount-right-align::-webkit-outer-spin-button,
  input.amount-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.amount-right-align {
    -moz-appearance: textfield;
  }
  
  
  .recipient-form, .amount-form {
  
    &__error {
      padding: 10px;
      border-radius: 0 0 4px 4px;
      display: flex;
      align-items: center;
      background: #aa141b;
      color: #fff;
      p {
        font: {
          size: 10px;
        }
        margin: 0;
      }
    }
  
    &__input {
      border: 0;
      margin: 0;
      padding: 7px;
      outline: 0;
      width: 100%;
      border-radius: 4px;
      font-size: 12px;
      font-weight: 600;
      border: 1px solid transparent;
      &.error {
        border-radius: 4px 4px 0 0;
        border-color: #b54846;
      }
    }
  }