<mat-accordion>


  <account-display
    *ngIf="address$ | async as address"
    [title]="'Your Address'"
    [detail]="address">

  </account-display>

  <account-display
    *ngIf="ethbalance$ | async as ethbalance"
    [title]="'Your Balance'"
    [detail]="ethbalance">

  </account-display>

  <split-form
    (split)="onSplit($event)">

  </split-form>

  <withdraw-form
    (withdraw)="onWithdraw($event)">

  </withdraw-form>

  <balances-display
    [title]="'Balances State'"
    [detail]="'List'"
    (add)="onAdd($event)">

  </balances-display>


</mat-accordion>
